.landing-background {
    background-image: url("../../images/food-gif.gif");
    background-size: auto;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.landing-button {
    margin: auto;
    margin-top: 45vh;
    width: 100px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    display: block;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #c5c5c5,
        -6px -6px 12px #ffffff;
    cursor: pointer;

}

.landing-button::before {
    content: '';
    width: 0;
    height: 50px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #027771dc 0%, #7dafb1 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.landing-button:hover::before {
    width: 100%;
}